html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
background-color: #ffffff;
}
header span{
margin-right: 50%;
margin-left: 10%;
}
header{
display: block;
background-color: #1b0088 ;
}